<div class="mt-4 p-5  text-white rounded">
    <div class="row">
      <div class="footer-item col-4">
            <img src="{{ url_for('static', filename='image/logo_desk.webp') }}" width="200px">
      </div>
       <div class="footer-item col-4">
          <div class="title-footer-item">
            HỆ THỐNG BỆNH VIỆN
          </div>
         <ul>
           <li>108 Phố Hoàng Như Tiếp, P. Bồ Đề, Q. Long Biên, Tp. Hà Nội</li>
           <li>2B Phổ Quang, Phường 2, Q. Tân Bình, Tp. Hồ Chí Minh</li>
         </ul>
      </div>
       <div class="footer-item col-4">
           <div class="title-footer-item">
            ĐƯỜNG DẪN NHANH
          </div>
         <ul>
           <li>Chuyên khoa</li>
           <li>Chuyên gia – bác sĩ</li>
           <li>Chuyên mục bệnh học</li>
           <li>Chính sách bảo mật</li>
         </ul>
      </div>
    </div>
</div>